.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {

}

.header__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 98dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 30px;
}

.movie {
  list-style: none;
  text-align: center;
}